* {
    font-family: sans-serif;
    box-sizing: border-box;
}

:root {
    --color1: #f44336;
    --color2: white;
    --color-background: #eeeeee;
}

.parent {
    width: 600px;
    height: 300px;
    margin: 10px auto;
    background-color: var(--color-background);
    display: flex;
    flex-flow: row wrap;
    align-items: baseline;
    align-content: space-between;
    justify-content: space-around;
    padding: 10px;

}

.parent {
    div {
        background-color: var(--color1);
        width: calc(95% / 3);
        padding: 10px;
        text-align: center;
        color: var(--color2);
    }
}