* {
    font-family: sans-serif;
}

a{
    display: block;
    width: fit-content;
    color: white;
    background-color: #00877a;
    padding: 40px 70px;
    margin: auto;
    text-transform: capitalize;
    font-size: 5em;
    font-weight: bold;
    text-decoration: none;
    border-bottom: 26px #00514a solid;   
}