* {
    font-family: sans-serif;
}

html {
    font-size: 20px;
}

.one,
.two,
.three {
    text-align: center;
    text-transform: capitalize;
}

.one {
     font-size: 2.5rem;  /* 50px */
}

.two {
    font-size: 2rem; /* 40px */
}

.three {
    font-size: 1.5rem;
}