.element{
    width: 400px;
    background-color: #eeeeee;
    outline: 12px #eeeeee solid;
    padding: 14px;
    margin: 40px auto;
}

.element-1{   
    border-left: 7px solid #e91e63; 
}
.element-2{    
    border-left: 7px solid #4d4385;
    opacity: 0; 
}
.element-3{    
    border-left: 7px solid #009688; 
}